@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}
table a, footer a {
color: skyblue;
}
table {
  color: white;
}

body {
  /* background: #000000;
  color: white; */
  margin: 0;
}


header img {
  padding-left: 1em;
}

header {
  background: lightblue;
  -ms-position: fixed;
  position: -webkit-sticky;
  position: sticky;
  text-align: left;
  display: inline-flex;
  border-bottom-right-radius: 1em;
  box-shadow: 0 0 10px white;
  align-items: center;
  top: 0;
  z-index: 5;
}
article {
  padding: 1em;
}
header a {
  margin: 1em;
}


strong {
  text-align: center;
  background: yellow;
  color: black;
  display: block;
  width: 100%;
}

strong a {
  color: darkblue;
}

td {
  text-align: center;
  background: transparent;
  transition: transform 1s, background 1s, box-shadow 1s;
}

td:not(:first-child):hover {
  transform: scale(1.1);
  background: #363636;
  box-shadow: black 0 0 5px;
}

.correct {
  background: rgba(255, 255, 255, 0.1);
}

.primary {
  background: #7289DA;
  color: white;
  padding: 1em;
  text-decoration: none;
  border-radius: 1em;
  box-shadow: #7289DA 1px 1px 5px;
}

table {
  border-radius: 1em;
  padding: 1em;
  background: #363636;
}

footer {
  width: 100%;
  text-align: center;
  padding-top: 1em;
  background: rgb(14, 14, 14);
  position: fixed;
  bottom: 0;
}
