html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

header::before {
  content: ' ';
  background: url("smile.svg");
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: .5;
}

header {
  background: white;
  padding: 1em;
  box-shadow: 5px 5px 5px black;
  border-radius: 1em;
  font-size: 5em;
  font-family: 'Inter Black', sans-serif;
  color: blue;
}

footer {
  font-family: sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background: rgb(53, 53, 53);
}

footer a {
  color: skyblue;
}
