html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

header::before {
  content: ' ';
  background: url("smile.svg");
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: .2;
}

header {
  font-size: 5em;
  font-family: 'Inter Black', sans-serif;
  color: blue;
}

#powered {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: left;
  background: #010101;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: white;
}

nav h4 {
  display: inline;
  margin-right: 16px;
}

footer>div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 2rem;
}

footer nav {
  margin: 0 0 8px;
}

footer a {
  color: skyblue;
}

@media (min-width: 500px) {
  #right {
    position: absolute;
    right: 20px;
    top: 0;
    text-align: right;
    font-size: .8rem;
    color: #9b9dad;
  }
}
